*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.float-sx{
  float: left;
}

.float-dx{
  float: right;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container{
  width: 80%;
  margin: auto;
}

.search{
  font-size: 16px;
  color: #30b4c9;
}

.btn-bordered{
  background-color: white;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  border-radius: 5px;
  padding: 10px !important;
}

.btn-orange-small{
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  margin-left: 20px !important;
  padding: 10px !important;
}

.btn-orange-big{
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  padding: 20px 40px;
  width: fit-content;
  display: block !important;
}

header li{
  display: inline-block;
}

/* HEADER TOP */
.header-top{
  background-color: #f4f9fd;
  height: 80px;
  font-weight: 500;
  border-bottom: 1px solid black;
}

.header-top .float-sx{
  margin: 30.5px 0;
}

.header-top .float-dx{
  margin: 19.5px 0;
}

.header-top li{
  padding: 0 10px;
}

/* HEADER NAVBAR */
.header-navbar{
  height: 80px;
  font-weight: 500;
}

.header-navbar .float-sx{
  margin: 23px 0;
}

.header-navbar .float-dx{
  margin: 30.5px 0;
}

.header-navbar .float-dx li{
  margin-left: 20px;
}

/* HEADER-JUMBOTRON */
.header-jumbotron{
  background-color: #fef5ef;
  height: 690px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: 1615px;
  background-position: 100% 0%;
}

.banner-hero{
  width: 50%;
  line-height: 28px;
}

.banner-hero h1{
  font-size: 50px;
  margin: 70px 0 30px;
  line-height: 60px;
  display: inline-block;
}

.banner-hero .btn-orange-big{
  margin: 30px 0;
}

/* FASCIA BLU */
.blu-line{
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}
