*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
  background-color: #f5f8fa;
  font-weight: 500;
}

.float-sx{
  float: left;
}

.float-dx{
  float: right;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.container{
  width: 80%;
  margin: auto;
}

/* TAG I */
.search{
  font-size: 16px;
  color: #30b4c9;
}

.check{
  color: #ff7a59;
  margin-right: 10px;
}

.btn-bordered{
  background-color: white;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  border-radius: 5px;
  padding: 10px !important;
}

.btn-orange-small{
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  border: 1px solid #ff7a59;
  margin-left: 20px !important;
  padding: 10px !important;
}

.btn-orange-big{
  background-color: #ff7a59;
  color: white;
  border-radius: 5px;
  padding: 20px 40px;
  width: fit-content;
  display: block !important;
}

.plus::after{
  content: "+";
  display: inline-block;
  font-weight: 400;
}


/* HEADER TOP */
header li{
  display: inline-block;
}

.header-top{
  background-color: #f4f9fd;
  height: 80px;
  border-bottom: 1px solid black;
}

.header-top .float-sx{
  margin: 30.5px 0;
}

.header-top .float-dx{
  margin: 19.5px 0;
}

.header-top li{
  padding: 0 10px;
}

/* HEADER NAVBAR */
.header-navbar{
  height: 80px;
  background-color: white;
}

.header-navbar .float-sx{
  margin: 23px 0;
}

.header-navbar .float-dx{
  margin: 30.5px 0;
}

.header-navbar .float-dx li{
  margin-left: 20px;
}

/* HEADER-JUMBOTRON */
.header-jumbotron{
  background-color: #fef5ef;
  height: 690px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: 1615px;
  background-position: 100% 0%;
}

.banner-hero{
  width: 50%;
  line-height: 28px;
}

.banner-hero h1{
  font-size: 50px;
  margin: 70px 0 30px;
  line-height: 60px;
  display: inline-block;
}

.banner-hero .btn-orange-big{
  margin: 30px 0;
}

/* FASCIA BLU */
.blu-line{
  height: 80px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

/* MAIN */
/* POWERFUL ALONE */
.powerful-alone{
  text-align: center;
}

.mini-container{
  width: 80%;
  margin: auto;
}

.mini-container img{
  margin: 50px 0 10px;
  width: 300px;
}

.mini-container h3{
  font-size: 35px;
}

.mini-container p{
  margin: 30px 0;
  line-height: 30px;
}

/* BOX ORIZZONTALE */
.orizontal-container .container{
  background-color: white;
  box-shadow: 0 0 11px #eaf0f6;
  border-radius: 3px;
  margin: 50px auto;
  height: 350px
}
.orizontal-container .float-sx{
  width: 40%;
}

.orizontal-container .float-dx{
  width: 60%;
  line-height: 30px;
  padding-right: 5%;
}

.orizontal-container .float-sx img{
  width: 150px;
  display: block;
  margin: 70px auto 20px;
}

.orizontal-container .float-sx p{
  margin: auto;
}

.orizontal-container .float-dx h3{
  margin: 70px auto 30px;
  font-size: 30px;
}

.orizontal-container .float-dx h5{
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 0
}

.orizontal-container .float-dx hr{
  display: inline-block;
  width: 55%;
  margin-left:  10%;
  border: 1px solid;
  color: #adb4b7;
  vertical-align: middle;
}

.orizontal-container .float-dx li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

/* BOX ORIZZONTALE */
.vertical-box-sx, .vertical-box-center, .vertical-box-dx{
  width: calc(90% / 3);
  text-align: center;
  background-color: white;
  box-shadow: 0 0 11px #eaf0f6;
  border-radius: 3px;
  padding: 30px;
  float: left;
}

.vertical-box-center{
  margin: auto 5%;
}

.vertical-container img{
  height: 120px;
  display: block;
  margin: auto;
}

.vertical-container h3{
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0;
}

.vertical-container p{
  line-height: 30px;
  margin-bottom: 50px;
}

.vertical-container hr{
  border: 1px solid;
  color: #adb4b7;
}

.vertical-container h5{
  text-transform: uppercase;
  font-size: 20px;
  margin: 30px 0;
}

.vertical-container ul{
  margin-bottom: 50px;
}

.vertical-container li{
  list-style: none;
  text-align: left;
}

.vertical-container .btn-orange-big{
  margin-top: 50px;
  margin: auto;
}

/* BOX BLU GRADIENT */
.gradient-box{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  margin: 50px auto 0;
  padding: 50px 0;
  color: white;
  text-align: center;
}

.gradient-box h3{
  font-size: 30px;
}

.gradient-box .container > small{
  line-height: 30px;
  display: block;
  margin: 30px 0;
}

.community-up{
  border-bottom: 1px solid #bfebeb;
}

.community-up div, .community-down div{
  display: inline-block;
  width: 25%;
  padding: 20px;
}

.community-up div:not(:last-child), .community-down div:not(:last-child){
  border-right: 1px solid #bfebeb;
}

.community{
  margin: 50px auto;
}

.community img{
  height: 35px;
}

.community p{
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

/* AZIENDE AFFILIATE */
.affiliate{
  background-color: white;
  padding: 50px 0;
}

.affiliate .float-sx{
  width: 40%;
  padding: 0 10%;
  line-height: 25px;
}

.affiliate .float-sx h3{
  font-size: 40px;
  margin: 20px 0 40px;
}

.affiliate .float-dx{
  width: 60%;
  padding-right: 10%;
}

.affiliate .float-dx img{
  width: 25% ;
  padding: 15px;
  vertical-align: middle;
}

/* SEZIONE CRESCI CON NOI */
.growing-hubspot{
  background-color: white;
}

.growing-hubspot .float-sx, .growing-hubspot .float-dx{
  width: 50%;
}

.growing-hubspot .float-sx{
  line-height: 25px;
  margin: 30px 0;
  padding-right: 10%;
}

.growing-hubspot .float-sx *{
  margin: 20px 0;
}

.growing-hubspot img{
  width: 50%;
  margin: auto;
  display: block;
}

.growing-hubspot h3{
  font-size: 30px;
  line-height: 40px;
}

.growing-hubspot h6{
  font-weight: 500;
}

/* FOOTER */
footer{
  background-color: #32495b;
}
